@page
@model             PrivacyModel
@{
    ViewData["Title"] = "Privacidade";
}
<div class="container">
    <h1 class="display-4">Política de Privacidade</h1>
    <p class="lead">Detalhes sobre como seus dados são usados:</p>
    <ul>
        <li>Coletamos apenas informações essenciais.</li>
        <li>Seus dados nunca serão compartilhados sem autorização.</li>
    </ul>
</div>
